.img-display {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.img-display__inner-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, .3);
}

.inner-container__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}