.img-swiper {
  background-color: rgba(128, 128, 128, 0.324);
  margin: 10px;
  box-sizing: border-box;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 0 10px;
}

.img-swiper__inner-container {
  box-sizing: border-box;
  display: flex;
  width: auto;
  height: 100%;
  overflow-x: auto;
}

.inner-container__img-item {
  box-sizing: border-box;
  min-width: 100px;
  max-width: 100px;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-item__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}