.img-swiper {
  background-color: rgba(128, 128, 128, 0.3);
  margin: 10px;
  box-sizing: border-box;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
}

.img-swiper__inner-container {
  box-sizing: border-box;
  display: flex;
  width: auto;
  height: 100%;
  overflow-x: auto;
}
