.img-uploader {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.img-uploader__dropzone {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
}

.img-uploader__dropzone:hover {
  background-color: rgba(0, 0, 0, .1);
}

p {
  margin: 0;
  text-align: center;
}

.img-uploader__dropzone--active {
  background-color: rgba(0, 0, 0, .1);
  color: white;
}