:host {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    "title        title       title" auto
    "img-display  img-display img-info" 1fr
    "img-uploader img-swiper  img-swiper" 120px / 120px minmax(0, 1fr) 150px;
}

.app__title {
  color: red;
  grid-area: title;
}

.app__img-display {
  grid-area: img-display;
}

.app__img-info {
  grid-area: img-info;
}
.app__img-uploader {
  grid-area: img-uploader;
}
.app__img-swiper {
  grid-area: img-swiper;
}